/*
Page

a page

ResponsiveMarkup:
<test class="page" style="">hello world</test>

Styleguide 1
*/

.page{
	color:orange;
	background-color: #ddd;
}

/*


Markup:
<article class="page" style="">hello world</article>

Styleguide 1
*/