<!DOCTYPE html>
<html>
    <head>
        <title> Test page</title>
        <link rel="stylesheet" type="text/css" href="css/app.min.css">
    </head>
    <body>
    <h1>Hello again 2343243dfdfd test again hello there</h1>
    <p>this is a sample test</p>
    <div class="pages"> 
    	<article class="book">
    		<p>My book sample</p>
    	</article>
    </div>

    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </body>
</html>
